<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="src/app/Components/add-book/add-book.component.js"></script>
</head>
<body style="background-color: rgb(199, 216, 247); padding-left: 600px; padding-right: 600px;">
  <script src="src/app/Components/add-book/add-book.component.js"></script>
<div class="container mt-3" style="background-color: rgb(241, 241, 241);
 padding-left: 100px; padding-right: 100px;border-radius: 15px;">
  <h3 style="text-align: center;border-radius: 10px; background-color:  rgb(224, 231, 249)">Enter book details for search</h3>
    
  <form action="/action_page.php" #myForm="ngForm" class="was-validated" name="myform">

    <div class="mb-3 mt-3">
      <label for="bookname" class="form-label">Book Title:</label>
      <input [(ngModel)]=book.title type="text" class="form-control" id="bookname" placeholder="Enter here" name="bookname" required>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>

    <div class="mb-3 mt-3">
        <label for="bookgenre" class="form-label">Book Genre:</label>
        <input  [(ngModel)]=book.category type="text" class="form-control" id="bookgenre" placeholder="Enter here" name="bookgenre" required>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>

      <div class="mb-3 mt-3">
        <label for="bookauthor" class="form-label">Book Author:</label>
        <input  [(ngModel)]=book.author type="text" class="form-control"  id="bookauthor" placeholder="Enter here" name="bookauthor" required>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div class="mb-3 mt-3">
        <label for="publisher" class="form-label">Book Publisher:</label>
        <input [(ngModel)]=book.publisher type="text" class="form-control" id="publisher" placeholder="Enter here" name="publisher" required>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div class="mb-3 mt-3">
        <label for="bookprice" class="form-label">Book Price:</label>
        <input  [(ngModel)]=book.price type="number" class="form-control" id="bookprice" placeholder="Enter price here" name="bookprice" required>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
     

  <button type="submit" style="margin-bottom: 10px;" [disabled]="!myForm.valid" class="btn btn-primary">Submit</button>
  <button class="btn btn-secondary" routerLink="/register" style="margin-left: 50px; margin-bottom: 10px; ">
      Click here to register as an author or reader</button>

  </form>
</div>
<script src="src/app/Components/add-book/add-book.component.js"></script>
</body>
</html>
