<div style=" background-color: darksalmon; padding-top: 20px; padding-bottom: 20px;">
<p style="text-align: center;text-decoration: darkslategray; font-weight: 650;">
    This is a Student portal where you can register students and view or delete the registered students</p>
</div>
<div style="display: flex;margin-top:5px;padding-bottom: 20px; padding-left: 380px;padding-right: 300px;" >
    <img width="800" height="400" src="https://cdn.dribbble.com/users/2176762/screenshots/5412967/student-portal-daydream-360-degree-stereoscopic-image_4x.png"/>
</div>
<div>
    <button type="button" class="btn btn-secondary" routerLink="/" style="margin-left: 150px;"> Back to Home</button>
    <button type="button" class="btn btn-secondary" routerLink="/register" style="margin-left: 1000px;">
        Register Student</button>
</div>