<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission Page</title>
    <style>
        .page-align{
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
    }
    </style>
<script src="./registration.js"></script>  
</head>
<body style="height: 90vh; display: flex; justify-content: center; align-items: center;">
   <div class="page-align">
        <img src="./successImagePNGformat.png" width="180px" height =180px /> 
        <br/>
        <h3 style="font-family: Arial;">Thank you!</h3>
        <p id="para">Your submission has been sent.</p>
   </div>
</body>
</html>