.btn-right{
    float: right;
    text-align: right;
}

.btn-center{
    text-align: center;
    margin-left:10px;
    margin-right: 10px;
    padding:10px;
}

.container{
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgb(199, 216, 247);;
    display: flex;
    justify-content: center;
    align-items: center;
}
.con{
    margin-top: 10px;
    margin-bottom: 20px;
    padding-right: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: right;
    align-items: center;
}

.div-img{
    background-image: url("https://www.bing.com/th?id=OIP.I94Eitlz_FGyJxDS0ysooAHaFj&pid=3.1&cb=&w=300&h=300&p=0");
    background-size: 100%;
}

.tbl-img{
    background-image: url("https://static.vecteezy.com/system/resources/previews/001/061/099/original/abstract-white-modern-seamless-white-background-vector.jpg");
    background-size: 100%;
}