<div style="background-color: aliceblue ;" class="div-img">
<div class="con" style="padding-left: 40px;margin-top: 10px;">
 
  <button  type="button" class="btn btn-primary btn-right" (click)="logout()" routerLink="/login" >
    Logout</button>
</div>
<div class="container" style="padding-left: 40px;margin-top: 10px; background-color:rgb(199, 216, 247);">
  To fetch all your transactions click here
  <button style="padding: 10px; margin-left: 10px;" type="button" class="btn btn-outline-primary" (click)="getAllTransactions()">
    Get</button>
</div>
<div  style="padding: 10px;" class="container" style="padding-left: 40px;margin-top: 10px; background-color:rgb(199, 216, 247);">
  To update your account click here
  <button  style="padding: 10px; margin-left: 10px;" type="button" class="btn btn-outline-primary" (click)="updateAccount()">
    Update your details</button>
</div>

<!-- Button trigger modal -->
<div class="container">
  <h4>Available amount : {{availableAmt | currency:'INR'}} </h4>
<button type="button" class="btn btn-primary btn-lg btn-center" data-bs-toggle="modal" data-bs-target="#targetModal">
  Send Money
</button>
</div>
<!-- Modal -->
<div class="modal" id="targetModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Money Transaction</h5>
        <button type="button" class="close" data-bs-dismiss="modal" #closeAddExpenseModal>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form class="was-validated"> 
          <div class="mb-3 mt-3"> 
            <label for="name" class="form-label">Vendor AccountID :</label>
            <input [(ngModel)]=request.vendorAccountId type="text" class="form-control" id="name" 
            placeholder="Enter here" name="name" required>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
      
          <div class="mb-3 mt-3">
              <label for="bookgenre" class="form-label">Amount :</label>
              <input  [(ngModel)]=request.amount type="text" class="form-control" id="bookgenre" 
              placeholder="Enter here" name="bookgenre" required>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
          <div>
            <button class="btn btn-primary" (click)="saveTransaction()">
                Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</div>


<table class="table ">
  <thead>
    <tr style="margin-left: 30px;">
      <th scope="col">TransactionID</th>
      <th scope="col">Transaction Type</th>
      <th scope="col">Transaction Amount</th>
      <th scope="col">Vendor AccountID</th>
      <th scope="col">Transaction Date
        <select style="background-color: azure;" id="order" (change)="sortTrans()">
          <option [ngModel]=order value="asc" selected>Asc</option>
          <option [ngModel]=order value="dsc" >Dsc</option>
        </select>
      </th>
      <th scope="col">Available Amount</th>
    </tr>
  </thead>

  <tbody class="tbl-img"
  style="background-color: rgb(199, 216, 247); font-family: Arial; padding-left: 5px;">
    <tr *ngFor="let transaction of transactions;index as i">
      <td style="padding: 25px;">{{transaction.tranactionId}}</td>
      <td style="padding: 25px;">{{transaction.transactionType}}</td>
      <td style="padding: 25px;">{{transaction.transactionAmount | currency:'INR'}}</td>
      <td style="padding: 25px;">{{transaction.vendorAccountId}}</td>
      <td style="padding: 25px;">{{transaction.transactionDate}}</td>
      <td style="padding: 25px;">{{transaction.finalAmount | currency:'INR'}}</td>

    </tr>

  </tbody>
  